<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="form" method="post">
        <h1>Your Name</h1>
        <input type="text" name="name">

        <h1>Dojo Location</h1>
        <select name="location" id="">
        <option value="San Jose">San Jose</option>
        <option value="Seattle">Seattle</option>
        <option value="Hawaii">Hawaii</option>
        </select>

        <h1>Favorite Language</h1>
        <select name="language" id="">
            <option value="Python">Python</option>
            <option value="MEAN">MEAN</option>
            <option value="C#">C#</option>
        </select>

        <h1>Comment (optional)</h1>
        <textarea name="comment" id="" cols="60" rows="10"></textarea>

        <input type="submit" value="Submit">
    </form>
</body>
</html>