<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Submitted info</h1>

    <h2>Name: @ViewBag.name</h2>
    <h2>Dojo Location: @ViewBag.location</h2>
    <h2>Favorite Language: @ViewBag.language</h2>
    <h2>Comment: @ViewBag.comment</h2>
</body>
</html>