<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Current Date and Time is:</h1>
    @{
        DateTime current = DateTime.Today;
        DateTime time = DateTime.Now;

        string date = current.ToString("MMM dd, yyyy");
        string times = time.ToString("T");
    }
    <h1>@date</h1>
    <h1>@times</h1>
</body>
</html>