<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Famous Quotes!!</h1>
    <a href="/">Home!</a>

    @{
        foreach(var quote in @ViewBag.quotes){
            <h1>@quote["name"]</h1>
            <h2>@quote["content"]</h2>
            <h3>@quote["created_at"]</h3>
        }
    }
</body>
</html>